<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meme Error</title>
</head>
<body style="position: absolute;top: 40%;left: 50%;transform: translate(-50%, -50%);text-align: center;">
    <h1 style="color:green;font-family:Courier New;">Unfortunately the image is broken, <br/>
        please try another image URL.<br/>
        Recommended file type: jpg/jpeg.
     </h1>

    <img src="{{url_for('static',filename='dog_fail_image.jpeg')}}" />
    <div> </div>
    <a class="btn btn-outline-primary" style="font-family:Courier New" href="{{url_for('meme_form')}}">Creator</a>
</body>
</html>
